<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      {{>headerlinks}}
</head>

<!-- <h1>Welcome to the static page!!</h1>
    <button class="btn btn-danger">hello</button> -->
<body>

{{>navbar}}


    <!-- main header  -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/imgg.jpg" class="img-fluid" alt="image of about us" width="450px" height="300px" style="border-radius: 15px;">
                        </figure>

                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App About us!</p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer</span></h1>
                        <a href="https://github.com/ps8847" target="_blank"><button>About my Some Other Creations</button></a>
                    </div>

                    <!-- right side div -->

                </div>
            </div>
        </div>
    </div>


    <!-- foter code  -->
{{>footer}}

    </body>

</html>